files:
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 10M; # Default is 1M; set to 100M for supporting large file upload
           client_body_timeout 180s; # Default is 60s; set to 5000s for supporting large file upload
