Resources:
  AWSEBSecurityGroup:
    Type: 'AWS::EC2::SecurityGroup'
    Properties:
      GroupDescription: Allow HTTP and HTTPS
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
  AWSEBLoadBalancerSecurityGroup:
    Type: 'AWS::EC2::SecurityGroup'
    Properties:
      GroupDescription: Allow HTTP and HTTPS
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
  AWSEBLoadBalancer:
    Type: 'AWS::ElasticLoadBalancing::LoadBalancer'
    Properties:
      HealthCheck:
        HealthyThreshold: '3'
        Interval: '30'
        Target: 'HTTP:80/status.html'
        Timeout: '5'
        UnhealthyThreshold: '5'
      Listeners:
        - LoadBalancerPort: 80
          Protocol: HTTP
          InstancePort: 80
          InstanceProtocol: HTTP
        - LoadBalancerPort: 443
          Protocol: HTTPS
          InstancePort: 443
          InstanceProtocol: HTTPS
          SSLCertificateId: 'arn:aws:iam::123456789012:server-certificate/YourSSLCertificate'
      SecurityGroups:
        - 'Fn::GetAtt':
            - AWSEBLoadBalancerSecurityGroup
            - GroupId
