#!/bin/bash
# Set aliases for some generic scripts

ARKI_REPO_HOME="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

alias aws-acm-list-certificates='python ${ARKI_REPO_HOME}/ACM/list_certificates.py'

alias aws-ami-latest-ecs-optimized-ami-id='. ${ARKI_REPO_HOME}/AMI/get_latest_ecs_optimized_ami.sh'
alias aws-ami-latest-eks-optimized-ami-id='. ${ARKI_REPO_HOME}/AMI/get_latest_eks_optimized_ami.sh'

alias aws-apis-test='python ${ARKI_REPO_HOME}/API/check_aws_apis.py'

alias aws-canonical-user-id='. ${ARKI_REPO_HOME}/CloudFront-S3/get_canonical_user_id.sh'

alias aws-cognito='python ${ARKI_REPO_HOME}/Cognito/cognito.py'

alias aws-config-query='python ${ARKI_REPO_HOME}/Config/query_configservice.py'

alias aws-ec2-instances='python ${ARKI_REPO_HOME}/EC2-VPC/list_ec2_instances.py'
alias aws-ec2-db-instances='python ${ARKI_REPO_HOME}/RDS/list_ec2_db_instances.py'

alias aws-ddb-start-localddb='. ${ARKI_REPO_HOME}/DynamoDB/start_dynamodb_local.sh'
alias aws-ddb-start-localddb-container='. ${ARKI_REPO_HOME}/DynamoDB/start_dynamodb_local_docker.sh'

alias aws-rds-instances='python ${ARKI_REPO_HOME}/RDS/list_rds_instances.py'

alias aws-s3-size='. ${ARKI_REPO_HOME}/S3/s3_size.sh'

alias aws-secretsmanager-get-secret='python ${ARKI_REPO_HOME}/SecretManager/get_secret.py'

alias aws-sts-decode-authorization-message='aws sts decode-authorization-message --encoded-message'

alias aws-subnet-available-ip-address-count='. ${ARKI_REPO_HOME}/EC2-VPC/available_ip_address_count.sh'

alias aws-vpcendpoint-list-prefix='aws ec2 describe-prefix-lists'
alias aws-vpcendpoint-list-supported-services='. ${ARKI_REPO_HOME}/EC2-VPC-Endpoint/list_vpc_endpoint_services_supported.sh'
alias aws-vpcendpoint-list-supported-services-name-only='. ${ARKI_REPO_HOME}/EC2-VPC-Endpoint/list_vpc_endpoint_services_supported.sh --name-only'

alias arki-ls-common-ip-protocols='cat ${ARKI_REPO_HOME}/Useful-tools/ls-common-ip-protocols.md'
alias arki-ls-common-ip-ranges='cat ${ARKI_REPO_HOME}/Useful-tools/ls-common-ip-ranges.md'
alias arki-ls-common-ports='cat ${ARKI_REPO_HOME}/Useful-tools/ls-common-ports.md'
