language: python
sudo: false

matrix:
    include:
    - python: 3.6
      dist: xenial
      env: TOXENV=py36
    - python: 3.7
      dist: xenial
      env: TOXENV=py37
    - python: nightly
      dist: xenial
      env: TOXENV=py38
    allow_failures:
    - env: TOXENV=py38

before_install:
    - python -m pip install --upgrade setuptools pip virtualenv

# command to install dependencies
install:
    - pip install -r requirements-build.txt

# command to run tests
script:
    - tox -r