# Install CLI tools

pip
# awscli                  # install awscli v2 instead
awscurl                   # https://github.com/okigan/awscurl
awslogs                   # https://github.com/jorgebastida/awslogs
#aws-shell                # https://github.com/awslabs/aws-shell (not actively maintained)
#aws-encryption-sdk-cli   # CLI wrapper around aws-encryption-sdk-python, https://github.com/aws/aws-encryption-sdk-cli
#aws-parallelcluster      # https://github.com/aws/aws-parallelcluster
#awsebcli                 # https://github.com/aws/aws-elastic-beanstalk-cli
#awslimitchecker          # https://github.com/jantman/awslimitchecker
#c7n                      # cloud-custodian, https://github.com/cloud-custodian/cloud-custodian

################################################################################
# CloudFormation

cfn-flip                  # https://github.com/awslabs/aws-cfn-template-flip
cfn-lint                  # require aws-sam-translator, https://github.com/aws-cloudformation/cfn-lint
cfn-policy-validator      # https://github.com/awslabs/aws-cloudformation-iam-policy-validator
#cloudformation-cli       # https://github.com/aws-cloudformation/cloudformation-cli
#cloudformation-cli-python-plugin  # https://github.com/aws-cloudformation/cloudformation-cli-python-plugin
yamllint                  # https://github.com/adrienverge/yamllint

################################################################################
# EKS

# hardeneks               # https://github.com/aws-samples/hardeneks

################################################################################
# Serverless

#awslambdaric             # https://github.com/aws/aws-lambda-python-runtime-interface-client
#aws-sam-cli              # require docker, https://github.com/aws/aws-sam-cli
#chalice                  # https://github.com/aws/chalice
#awscli-local             # https://github.com/localstack/awscli-local
#localstack               # https://github.com/localstack/localstack

################################################################################
# Useful tools

#demoshell                # https://github.com/dhellmann/demoshell
deptry                    # https://github.com/fpgmaas/deptry
httpie                    # https://github.com/httpie/httpie
pip-audit                 # https://github.com/pypa/pip-audit
#pipdeptree               # https://github.com/naiquevin/pipdeptree
#pre-commit               # https://pre-commit.com/
#pydot                    # use tegether with cfn-lint to generate DOT file, require graphviz
#yq                       # YAML/XML processor - jq wrapper for YAML/XML documents, https://github.com/kislyuk/yq
setuptools>=65.5.1        # not directly required, pinned by Snyk to avoid a vulnerability
sympy>=1.12               # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0          # not directly required, pinned by Snyk to avoid a vulnerability
