# Install the helper module - common lib for the Python tools in this repo
-e _common/.

################################################################################
# AWS related packages

boto3~=1.34
#amazon.ion               # https://github.com/amzn/ion-python
#aws-embedded-metrics     # https://github.com/awslabs/aws-embedded-metrics-python
#aws-encryption-sdk       # https://github.com/aws/aws-encryption-sdk-python
#aws-lambda-powertools    # https://github.com/awslabs/aws-lambda-powertools-python
#aws-xray-sdk             # https://github.com/aws/aws-xray-sdk-python/
#awsiotsdk                # https://github.com/aws/aws-iot-device-sdk-python-v2
#chalice                  # https://github.com/aws/chalice
#pyathena                 # https://github.com/laughingman7743/PyAthena/
#pycognito                # replace warrant, https://github.com/pvizeli/pycognito
#pywren                   # https://github.com/pywren/pywren
#rdk                      # https://github.com/awslabs/aws-config-rdk
#sagemaker                # https://github.com/aws/sagemaker-python-sdk/
#stepfunctions            # https://github.com/aws/aws-step-functions-data-science-sdk-python

################################################################################
# AWS CDK v2 related packages
# Prerequisite: npm install -g aws-cdk@next

#aws-cdk-lib>=2.0.0rc1
#constructs>=10.0.0

################################################################################
# AWS CDK v1 related packages
# Prerequisite: npm install -g aws-cdk

#aws-cdk.core
#aws-cdk.aws-apigateway
#aws-cdk.aws-dynamodb
#aws-cdk.aws-ecs
#aws-cdk.aws-ec2
#aws-cdk.aws-lambda
#cdk-watchful

################################################################################
# Non aws related packages

click~=8.1                # https://github.com/pallets/click
fire~=0.6                 # https://github.com/google/python-fire
#apispec~=5.1             # A pluggable API specification generator, support OpenAPI Specification (f.k.a. Swagger specification).
#black
#dataclasses-json~=0.5    # provides a simple API for encoding and decoding dataclasses to and from JSON
#faker
#pyyaml~=5.1
#pypiwin32==220
#toml~=0.10
#typer~=0.2               # click alternative

################################################################################
# Kafka

#confluent_kafka        # https://docs.confluent.io/current/clients/python.html
#kafka-python
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
