-e _common/.

################################################################################
# AWS related packages
boto3~=1.17
#aws-embedded-metrics
#aws-encryption-sdk
#aws-lambda-powertools
#aws-xray-sdk
#chalice            # AWS Chalice
#pyathena
#rdklib             # Lib for running custom AWS Config Rules at scale using Lambda Layer.
#sagemaker
#stepfunctions
#AWSIoTPythonSDK

################################################################################
# AWS CloudFormation Resource Provider Python Plugin (preview)
#git+https://github.com/aws-cloudformation/aws-cloudformation-rpdk-python-plugin.git#egg=cloudformation-cli-python-plugin

################################################################################
# AWS-CDK related packages
#aws-cdk.core
#aws-cdk.aws-apigateway
#aws-cdk.aws-dynamodb
#aws-cdk.aws-ecs
#aws-cdk.aws-ec2
#aws-cdk.aws-lambda
#cdk-watchful

################################################################################
# Non aws related packages
apispec~=3.3            # A pluggable API specification generator, support OpenAPI Specification (f.k.a. Swagger specification).
click~=7.1
dataclasses-json~=0.5   # provides a simple API for encoding and decoding dataclasses to and from JSON
PyInquirer~=1.0         # for saml2aws/aws_login.py
pytz
#black
#faker
#pipdeptree
#pycognito              # replace warrant
#pyyaml~=5.1
#pypiwin32==220
#toml~=0.10
#typer~=0.2             # click alternative

################################################################################
# Kafka
#confluent_kafka        # https://docs.confluent.io/current/clients/python.html
#kafka-python
