pip
awscli
#aws-shell
#aws-encryption-sdk-cli   # CLI wrapper around aws-encryption-sdk-python
#aws-parallelcluster      # https://github.com/aws/aws-parallelcluster
#awsebcli                 # AWS Elastic Beanstalk CLI
#awslimitchecker
#awsebcli
#c7n                      # cloud-custodian

################################################################################
# Cloudformation

aws-cdk.core              # require npm aws-cdk
cfn-flip
cfn-lint                  # require aws-sam-translator
cloudformation-cli        # https://github.com/aws-cloudformation/cloudformation-cli
pydot                     # use tegether with cfn-lint to generate DOT file
yamllint

################################################################################
# Serverless

#aws-sam-cli         # require docker

#chalice             # AWS Chalice

#awscli-local        # LocalStack AWS CLI - https://github.com/localstack/awscli-local
#localstack          # Local AWS cloud stack - https://github.com/localstack/localstack

################################################################################
# Useful tools

#demoshell                 # https://github.com/dhellmann/demoshell
httpie
yq                        # Command-line YAML/XML processor - jq wrapper for YAML/XML documents
