pip
awscli~=1.18
#aws-shell~=0.2
aws-cdk.core~=1.38        # require npm aws-cdk
#aws-encryption-sdk-cli~=1.1    # CLI wrapper around aws-encryption-sdk-python
#aws-parallelcluster      # https://github.com/aws/aws-parallelcluster
#aws-sam-cli              # require docker
#awsebcli                 # AWS Elastic Beanstalk CLI
awslimitchecker~=7.1
#awsebcli~=3.15
#c7n~=0.8                 # cloud-custodian
#chalice                  # AWS Chalice
cfn-flip~=1.2
cfn-lint~=0.31            # require aws-sam-translator
cloudformation-cli~=0.1   # https://github.com/aws-cloudformation/cloudformation-cli
yamllint~=1.23
yq~=2.10                  # Command-line YAML/XML processor - jq wrapper for YAML/XML documents

#awscli-local        # LocalStack AWS CLI - https://github.com/localstack/awscli-local
#localstack          # Local AWS cloud stack - https://github.com/localstack/localstack
