# This file is used for running deployment scripts and pytest
pip>=9.0.1
virtualenv>=15.1.0
boto3>=1.4.4
requests-aws4auth>=0.9
pytest>=3.1.1

# Enable the following for generating API.md
#swagger2markdown>=0.1.9