[flake8]
max-line-length = 120
exclude =
    .git,
    .tox,
    __pycache__,
    build,
    dist,
    *.egg-info,
    env,
    .venv,
    venv
# E203: whitespace before ':' (conflicts with black)
# W503: line break before binary operator (conflicts with black)
ignore = E203,W503
max-complexity = 10

