# This file prepares the pytest and coverage env and is used by tox.ini
codecov~=2.0
cov-core~=1.15
coverage~=4.5
flake8~=3.7
mock~=2.0
pytest~=4.3
pytest-cov~=2.6
pytest-gitignore~=1.3
pytest-mock~=1.10
wheel~=0.33
-e.
