{
  "AWSTemplateFormatVersion": "2010-09-09",

  "Description": "Create Group and add users to the group.",

  "Resources": {
    "NewGroup": {
      "Type": "AWS::IAM::Group"
    },
    "AddUsersToNewGroup": {
      "Type": "AWS::IAM::UserToGroupAddition",
      "DependsOn": "NewGroup",
      "Properties": {
        "GroupName": {"Ref": "NewGroup" },
        "Users": [
          "firstname.lastname"
        ]
      }
    }
  }
}