{
  "AWSTemplateFormatVersion": "2010-09-09",

  "Description": "Create SNS Topic, Subscription and Topic Policies for using Amazon Inspector.",

  "Parameters": {
    "TopicName": {
      "Description": "Name of the SNS topic.",
      "Type": "String",
      "Default": "Inspector-EC2"
    },
    "SubscriptionEmail": {
      "Description": "Email address for the Inspector finding subscription.",
      "Type": "String"
    },
    "InspectorRegionUserArn": {
      "Description": "For the right ARN please see https://docs.aws.amazon.com/inspector/latest/userguide/inspector_assessments.html#sns-topic",
      "Type": "String"
    }
  },

  "Resources": {
    "SnsTopic": {
      "Type": "AWS::SNS::Topic",
      "Properties": {
        "TopicName": {"Ref": "TopicName" },
        "DisplayName": {"Ref": "TopicName" }
      }
    },

    "SnsSubscription": {
      "Type": "AWS::SNS::Subscription",
      "Properties": {
        "Endpoint": {"Ref": "SubscriptionEmail"},
        "Protocol": "email",
        "TopicArn": {"Ref": "SnsTopic"}
      }
    },

    "SNSPolicyBNCloudTrailSNS": {
      "Type": "AWS::SNS::TopicPolicy",
      "Properties": {
        "Topics": [
          {"Ref": "SnsTopic" }
        ],
        "PolicyDocument": {

          "Version": "2008-10-17",
          "Id": "__default_policy_ID",
          "Statement": [
            {
              "Sid": "__default_statement_ID",
              "Effect": "Allow",
              "Principal": {
                "AWS": "*"
              },
              "Action": [
                "SNS:Publish",
                "SNS:RemovePermission",
                "SNS:SetTopicAttributes",
                "SNS:DeleteTopic",
                "SNS:ListSubscriptionsByTopic",
                "SNS:GetTopicAttributes",
                "SNS:Receive",
                "SNS:AddPermission",
                "SNS:Subscribe"
              ],
              "Resource": {"Ref": "SnsTopic"},
              "Condition": {
                "StringEquals": {"AWS:SourceOwner": {"Ref": "AWS::AccountId" } }
              }
            },
            {
              "Sid": "__console_pub_0",
              "Effect": "Allow",
              "Principal": {
                "AWS": {"Ref": "InspectorRegionUserArn"}
              },
              "Action": "SNS:Publish",
              "Resource": {"Ref": "SnsTopic"}
            },
            {
              "Sid": "__console_sub_0",
              "Effect": "Allow",
              "Principal": {
                "AWS": {"Ref": "InspectorRegionUserArn"}
              },
              "Action": [
                "SNS:Subscribe",
                "SNS:Receive"
              ],
              "Resource": {"Ref": "SnsTopic"}
            }
          ]
        }
      }
    }
  }
}
